<body>
  <div class="bgimage"></div>
  <div class="container">
    <strong>
      <font size="4">Why learn magic?</font>
    </strong>
    <br>
    <p>
      Magic is fun to do. It is entertaining. It is a great way to make an impression, or stand out from the crowd. As you learn
      sleight of hand, you will begin to develop skills of dexterity. As you learn more effects and techniques, you will
      develop problem solving skills. And as you begin to perform for people, you will develop social skills and confidence.
      Learning magic can benefit anyone and everyone.
    </p>
  </div>
  <div>
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    <hr class="styled-hr" style="width:100%;">
    <div style="height: 20px; overflow: hidden; width: 100%"></div>
  </div>
  <div class="container">
    <strong>
      <font size="4">About our teachers:</font>
    </strong>
    <br>
    <p>
      Our teachers are performing magicians who can be seen in some of New York's highest rated magic shows, 
      such as Monday Night Magic and A Taste of Magic. 
      We have years of experience performing and teaching private lessons, in classes, 
      and at summer camps such as French Woods Festival for the Arts, and Ramapo Country Day Camp. 
      We can tailor our instruction to suit students of any age and level.
    </p>
  </div>
  <div>
    <div style="height: 20px; overflow: hidden; width: 100%;"></div>
    <hr class="styled-hr" style="width:100%;">
    <div style="height: 20px; overflow: hidden; width: 100%"></div>
  </div>
  <div class="container">
    <strong>
      What you'll learn:
    </strong>
    <br>
    <p>
      Beginners will start with self-working tricks. You'll be able to amaze after a single lesson. 
      From there, you'll start to learn about sleight of hand, misdirection, and many other magical tools. 
      You'll learn tricks with cards, coins, and every day objects. 
      We'll also teach you about putting the tricks into action, and how to perform for audiences small and large. 
      We offer performance opportunities to students here in NYC.
    </p>
  </div>
</body>