<div class="container">
  <table>
    <thead>
      <tr class="names">
        <th>
          <strong>Matt Cooke</strong>
        </th>
        <th>
          <strong>Eric W. Brown</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="pictures">
        <td>image</td>
        <td>image</td>
      </tr>
      <tr class="bio">
        <td>
          Matt Cooke has been a professional magician and magic teacher in New York City for over six years. 
          When he’s not the Director of Magic at Ramapo Country Day Camp in the summers, 
          he is teaching at elite after school programs by day and performing at New York City’s highest rated magic shows by night. 
          Matt combines his extensive knowledge of magic and years of teaching experience to create a fun, engaging, and dynamic curriculum. 
          Whether you are looking to perform at your 7th birthday party or you just want to impress your friends at a cocktail party, 
          one lesson with Matt will have you fooling your friends and family.
        </td>
        <td>
            Eric W. Brown fell in love with magic at the age of 10 after seeing Lance Burton and David Copperfield specials on television. 
            He studied theater at the South Carolina Governor’s School for the Arts. 
            He became a professional magician upon moving to New York in 2010. 
            Eric is a regular performer with some of New York’s best magic shows, including Monday Night Magic, and A Taste of Magic. 
            He has taught hundreds of private lessons and after school classes, 
            and spent three summers teaching magic at French Woods Festival for the Arts. 
            Send us an email today to book a lesson with Eric.
        </td>
      </tr>
    </tbody>
  </table>
</div>